.Cake .plate {
  background-color: #f7dfbd;
  margin: 0 auto;
  margin-bottom: 20px;
  min-height: 430px;
  min-width: 350px;
  padding-top: 50px;
  padding-bottom: 10px;
  border-radius: 30px;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}
.Cake .price {
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
@media (min-width: 500px) {
  .Cake .plate {
    margin: 0 auto;
    margin-bottom: 20px;
    min-width: 400px;
  }
}
