.CakeControl {
  display: flex;
  align-items: center;
}
.CakeControl .label {
  padding: 0.5rem;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
}
.CakeControl button {
  border: 1px solid #e97fb9;
  background-color: #e97fb9;
  border-radius: 30%;
  margin: 10px;
  color: black;
  font-size: 17px;
  font-family: "Julius Sans One", sans-serif;
}
.CakeControl button:disabled {
  opacity: 0.5;
}
.CakeControl button:not(:disabled):hover {
  opacity: 0.8;
}
