.Auth {
  display: flex;
  flex-flow: row wrap;
  padding: 0.5em;
  max-width: 550px;
  margin: 0 auto;
  justify-content: center;
}
.Auth form {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 65px;
}
.Auth input {
  padding: 0.5em 1em;

  font-size: 1.2rem;
  width: 350px;
  margin-top: 0.5em;
}

.Auth .error {
  color: red;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 70px;
}

.Auth button {
  width: 250px;
  margin: 0.5em 0 0 0;
  flex: none;
  align-self: center;
}
