.Cake{   
     display: flex; 
     align-items: center;
     background-repeat: no-repeat; 
     margin-left: 100px;
     width: 400px;
     height: 50px;
}

.chocolateCream{ 
    background-image: url(../../../../assets/cake_v3.svg); 
}
.strawberryCream{ 
   background-image: url(../../../../assets/cake_v4.svg); 
}
.curdCream{ 
   background-image: url(../../../../assets/cake_v5.svg); 
}
.proteinCream{
    background-image: url(../../../../assets/cake_v1.svg); 
}
.bananaCream{
    background-image: url(../../../../assets/cake_v6.svg); 
}
.vanillaCream{ 
    background-image: url(../../../../assets/cake_v2.svg); 
}
 