.Cake{  
     display: flex;   
     justify-content: center;
     background-repeat: no-repeat; 
     width: 100px;
     height: 10px;
}

.chocolateCream{ 
    background-image: url(../../../../assets/cake_v3.svg); 
}
.strawberryCream{ 
   background-image: url(../../../../assets/cake_v4.svg); 
}
.curdCream{ 
   background-image: url(../../../../assets/cake_v2.svg); 
}
.proteinCream{
    background-image: url(../../../../assets/cake_v1.svg); 
}
.bananaCream{
    background-image: url(../../../../assets/cake_v6.svg); 
}
.vanillaCream{
    background-image: url(../../../../assets/cake_v5.svg); 
}
.plate{
    /* тарелка */
    background-color: black; 
    width: 200px;
    height: 25px;
    border-radius: 30px;
}