.Cake{ 
    box-sizing: border-box;
    
    background-repeat: no-repeat;
     background-size: contain;
     width: 500px;
     height: 50px;
}

.chocolateCream{ 
    background-image: url(../../../../assets/cake.svg); 
}
.strawberryCream{ 
   background-image: url(../../../../assets/cake.svg); 
}
.curdCream{ 
   background-image: url(../../../../assets/cake.svg); 
}
.proteinCream{
    background-image: url(../../../../assets/cake.svg); 
}
.bananaCream{
    background-image: url(../../../../assets/cake.svg); 
}
.bananaCream{
    background-image: url(../../../../assets/cake.svg); 
}
.plate{
    /* тарелка */
    background-color: black; 
    width: 200px;
    height: 25px;
    border-radius: 30px;
}